body{
background-image: url(image/44.jpeg); 
background-color: yellow;
color: #DDBABB;/*#E55659;/*#177ea7;*/
/*background-repeat: space;*/
}
/*h1{
	color: #DDBABB;
}
*/
p em {
font-size: 30pt;
color: #177ea7;

}