body{
	background-image: url(image/7.jpg);
	background-size: cover;
	background-attachment: fixed;
	/*background-repeat: no-repeat;
	/*background-repeat: ;
	background-position: ;
	background-size: ;
*/
}



nav li {
list-style-type: none;
display: inline-block;
/*width: 100px;
height: 80px;*/
background: #f36868;
border-radius: 20px;
}

/*
<значение>
    Задает размер в любых доступных для CSS единицах — пикселы (px), сантиметры (cm), em и др. 
<проценты>
    Задает размер фоновой картинки в процентах от ширины или высоты элемента. 
auto
    Если задано одновременно для ширины и высоты (auto auto), размеры фона остаются исходными;
     если только для одной стороны картинки (100px auto), то размер вычисляется автоматически 
     исходя из пропорций картинки.
cover
    Масштабирует изображение с сохранением пропорций так, чтобы его ширина или высота равнялась
     ширине или высоте блока.
contain
    Масштабирует изображение с сохранением пропорций таким образом, 
    чтобы картинка целиком поместилась внутрь блока. 

Если установлено одно значение, оно задает ширину фона, второе значение принимается за auto.
 Пропорции картинки при этом сохраняются. Использование двух значений через пробел задает ширину 
 и высоту фоновой картинки.*/
 /*Свойство background-attachment устанавливает, будет ли прокручиваться фоновое изображение вместе 
 с содержимым элемента. Изображение может быть зафиксировано и оставаться неподвижным, либо перемещаться
  совместно с документом. В CSS3 можно указать несколько значений для ряда фоновых изображений, перечисляя 
  значения через запятую.
  background-attachment: fixed | scroll | inherit

CSS3 	

background-attachment: fixed | scroll | local[, fixed | scroll | local]*

Значения

fixed
    Делает фоновое изображение элемента неподвижным. 
scroll
    Позволяет перемещаться фону вместе с содержимым.
inherit
    Наследует значение родителя.
local
    Фон фиксируется с учётом поведения элемента. Если элемент имеет прокрутку, то фон будет прокручиваться 
    вместе с содержимым, но фон выходящий за рамки элемента остаётся на месте. */