@import url("grid.css");

.container {
    max-width: 960px;
    margin: 0 auto;
}
/*ul в качестве селектора использовать не корректно*/
.slider {
    padding: 0;
    margin: 0 0 30px;
    list-style-type: none;
}

.slider li {
    display: none;
}

.slider li.active {
    display: block;
}

.card {
    border: 1px solid black;
    height: 200px;
    margin: 5px;
}

.cards {
    margin-bottom: 30px;
}

/*div {
    /*box-sizing: border-box;*/
.absolute {
height: 50px;
border: 1px solid black;
background: yellow;
position: absolute;
top: 0px;
left: 0px;
right: 0px;    
}

.visibility{
visibility:  visible;/*видимый*/
visibility:  hidden;/*место остается делает элемент невидимый 2*/
display: none; /*скрыть элемент полностью 1*/
visibility: collapse; /*к ячейкам таблицы то действует ка 1 к другим элементам как 2*/
}






